/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar */
.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: #704c3b;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navMenu {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.navItem {
    margin-left: 15px;
}

.navLink {
    font-size: 1.1rem;
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.navLink:hover {
    color: #704c3b;
    background-color: #fff;
}

.navLogo {
    margin-left: 6px;
    font-size: 3rem;
    font-weight: 500;
    /* color: #482ff7; */
    color: #fff;
}
/* banner */

#banner img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 12rem;
    margin: 15px auto;
    border-radius: 4px;
}

h2 {
    padding: 16px;
}

#listaLanches, #listaBebidas {
    justify-content: flex-start;
    margin: 28px;
    gap: 20px;
    overflow-x: auto;
}


.card-container {
   /*  display: flex; */
    align-items: center;
   
}

.card {
    margin: 0 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 198px;
    height: 222px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.card-content .carTitle{
    font-size: 1.4em;
    color: #333;
    margin: 0;
}

.card-content p {
    font-size: 0.9em;
    color: #777;
    margin: 10px 0;
}

.scroll-container {
    display: flex;
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px;
    scroll-behavior: smooth;
  }
  

.addBtn {
    background-color: #2d9f77;
    font-size: 1rem;
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addBtn:hover {
    background-color: #195a43;
}
